body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-fluid {
  min-height: 100vh;
}

.display-2 a.text-light:hover {text-decoration:none;}


@media screen and (max-width: 1500px) {
  .display-2 {font-size:60px;}
  .display-4 {font-size:30px;}
}

.FeaturedAssetsList a {color:white;text-decoration:none;}
.FeaturedAssetsList a:hover {text-decoration:underline;}
.FeaturedAssets b {font-size:33px;font-weight:300;}
.FeaturedAssets {margin-top:24px !important; margin-bottom:12px !important;}

.pb-5 {padding-bottom: 0.5rem !important;}
